{% extends 'dashboard.html' %}

{% block content %}

<div class="py-2 px-6 bg-white flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30">

    <button type="button" class="text-lg text-gray-600 sidebar-toggle">
        <i class="ri-menu-line"></i>
    </button>

    <ul class="flex items-center text-sm ml-4">
        <li class="mr-2">
            <a href="#" class="text-gray-400 hover:text-gray-600 font-medium">Dashboard</a>
        </li>
        <li class="text-gray-600 mr-2 font-medium">/</li>
        <li class="text-gray-600 mr-2 font-medium">details</li>
    </ul>
</div>

<body class="bg-gray-100 p-8">
    <div class="max-w-2xl mx-auto bg-white p-8 rounded shadow">
        <h1 class="text-2xl font-bold mb-4">Détails de l'employé</h1>
        <h3 class="text-lg font-semibold mb-2">{{ employee.firstname }} {{ employee.lastname }}</h3>
        <p><strong>Salaire:</strong> {{ employee.salary }}</p>
        <p><strong>Grade:</strong> {{ employee.grad }}</p>
        <p><strong>Enfants:</strong> {{ employee.children }}</p>
        <p><strong>Marié:</strong> {{ employee.is_marie }}</p>
        <p><strong>Date d'enregistrement:</strong> {{ employee.date }}</p>

        <p><strong>Impôt Annuel:</strong> {{ impot_annuel }}</p>
        <!-- <p><strong>Impôt Mensuel:</strong> {{ impot_mensuel }}</p> -->

        <div class="mt-4">
            <button type="submit" class="rounded-full inline-flex items-center py-4 px-3 bg-neutral-950 text-white rounded-lg text-sm font-medium hover:bg-lime-500">
            <a href="{% url 'edit' employee.pk %}"> Modifier</a>
        </button>
        <button type="submit">
            <a href="{% url 'delete' employee.pk %}" class="rounded-full inline-flex items-center py-4 px-3 bg-neutral-950 text-white rounded-lg text-sm font-medium hover:bg-lime-500"> Supprimer</a>
        </button>
        
        <a href="{% url 'index' %}" class="rounded-full inline-flex items-center py-4 px-3 bg-neutral-950 text-white rounded-lg text-sm font-medium hover:bg-lime-500"> 
            Retour
        </a>
        </div>
    </div>
</body>

{% endblock %}