{% extends 'dashboard.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="py-2 px-6 bg-white flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30">

    <button type="button" class="text-lg text-gray-600 sidebar-toggle">
        <i class="ri-menu-line"></i>
    </button>

    <ul class="flex items-center text-sm ml-4">
        <li class="mr-2">
            <a href="#" class="text-gray-400 hover:text-gray-600 font-medium">Dashboard</a>
        </li>
        <li class="text-gray-600 mr-2 font-medium">/</li>
        <li class="text-gray-600 mr-2 font-medium">Impot sur salaire</li>
    </ul>
</div>

<body class="bg-gray-100 p-8">
    <div class="container mx-auto p-10">
        <div class="grid grid-cols-10 gap-4">
            <div class="col-span-10">
                <h6 class="text-center text-red-500"> All fields are required </h6>
            </div>
            <div class="col-span-10">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <div class="mb-4">
                        {{ field.label_tag }}
                        {% render_field field class="form-input w-full" %}
                        {% if field.help_text %}
                            <small class="block text-gray-600">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Ajouter un nouveau</button>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}