{% extends 'dashboard.html' %}

{% block content %}

<div class="bg-white p-2 rounded shadow">
    <h1 class="text-2xl font-bold mb-4">Liste des Employés</h1>
    <table class="w-full">
        <thead>
            <tr>
                <th class="py-2">Prénom</th>
                <th class="py-2">Nom</th>
                <th class="py-2">Salaire</th>
                <th class="py-2">Grade</th>
                <th class="py-2">Enfants</th>
                <th class="py-2">Marié</th>
                <th class="py-2">Date</th>
                <th class="py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr class="align-center">
                <td class="py-2">{{ employee.firstname }}</td>
                <td class="py-2">{{ employee.lastname }}</td>
                <td class="py-2">{{ employee.salary }}</td>
                <td class="py-2">{{ employee.grad }}</td>
                <td class="py-2">{{ employee.children }}</td>
                <td class="py-2">{{ employee.is_marie }}</td>
                <td class="py-2">{{ employee.date }}</td>
  
                <td class="py-2">
                    <a href="{% url 'inf_employe' %}" class="text-blue-500 hover:underline mr-2">Modifier</a>
                    <a href="{% url 'delete' employee.pk %}" class="text-red-500 hover:underline">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}