header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 60px;
    padding: 0;
    background: transparent;
    margin-right: 30px;
}

.logo {
    color: black;
    display: flex;
    font-size: 30px;
    font-weight: 500;
}

.logo img {
    width: 120px;
    margin: 0;
}

.logo span {
    margin-top: 40px;
}

.nav-list {
    display: flex;
}

.nav-list a {
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.nav-list a:hover{
    border-bottom: 2px solid white;
}
.nav-list a:nth-child(4):hover{
    color: #000000;
    background: blue;
    border: 2px solid rgb(7, 11, 214);
    padding: 8px 5px;
    border-radius: 30px;
    text-transform: uppercase;
    transform: translateX(8px);
}

.nav-list a:nth-child(5):hover{
    color: #000000;
    background: blue;
    border: 2px solid rgb(7, 11, 214);
    padding: 8px 5px;
    border-radius: 30px;
    text-transform: uppercase;
    transform: translateX(8px);
}

#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

