section{
    padding: 0 19%;
}
.section1{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #7185f7, 0%, #d9e9db 28.53%, #2759ff 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    align-items: center;
    gap: 2rem;
}
.section1 .section1-text h1{
    font-size: 50px;
    font-weight: 700;
}
.section1 .section1-text h1 span{
    color: rgb(10, 10, 224);
}
.section1 .section1-text h3{
    font-size: 25px;
    font-weight: 350px;
}
.section1 .section1-text a{
    color: white;
    background: #0011a7;
    border: 1px solid transparent;
    margin-top: 100px;
    padding: 12px 30px;
    font-size: 14px;
    line-height: 1.4;
    font-size: 25px;
    font-weight: 700;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.section1 .section1-text a:hover{
    color: #0011a7;
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.section1 .section1-text .social{
    border: 30px;
}
.section1 .section1-img img{
    width: 100%;
}
.section1 .social{
    position: absolute;
    width: 15px;
    padding: 0 9%;
    cursor: pointer;
}