<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcul</title>

    <!--
         css link
     -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/body.css">
    <!-- 
        js link
     -->

    <!-- 
        Boxicon link
    -->
    <link rel="stylesheet" href="boxicons.min.css">

    <!-- 
        goog font
     -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Montserrat:wght@200&family=Roboto+Mono:ital,wght@1,200&display=swap" rel="stylesheet">
</head>



<body>

    <header>
        <a href="#" class="logo">
            <img src="../static/img/Newlogo.svg" alt="logo du site">
            <span>Calcul</span>
        </a>

        <ul class="nav-list">
            <a href="{{ url_for('views.register') }}">Enregistrement</a>
            <a href="{{ url_for('views.download') }}">Telechargement</a>
            <a href="{{ url_for('views.about') }}">About</a>
            <a href="{{ url_for('views.contact') }}">Contact</a>
        </ul>

        <div class="bx-menu">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAExJREFUSEtjZKAxYKSx+QyjFhAM4QEJov8EnYVfAYqjsfmA5hZQ6AFU7QMSBzT3Ac3jgOYW0DyIhr4FNI8Dmlsw9ONg1AcoIUDz0hQAbegGGXzv/l0AAAAASUVORK5CYII=" />
        </div>
    </header>
    <section>

    </section>
</body>

</html>